@model dynamic

<div style="padding-left: 20px; padding-right: 20px; max-width: 768px;">
    <h3>Contact Message</h3>
    <p>
        Hello Admin
    </p>
    <p>
        Name: @Model.UserName
    </p>
    <p>
        Email: @Model.UserEmail
    </p>
    <div>
        <h3>Message:</h3>
        <p>@Model.UserMessage</p>
    </div>
</div>